<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}title goes here{% endblock %}</title>
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.21.4/babel.min.js" integrity="sha512-FneB6sFwq3OQG08dlVoj9iDn0XZG68wD9yg80ofbMCCzW8BioIgsAwSciFaVjM77PdsKdvz3kt/5MKwd+KVGDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% block head %}head{% endblock %}

    </head>
    <body>
        <div id="sidebar">

        </div>
        {% block body %}<p>Hello world.</p>{% endblock %}
    </body>
</html>